.search-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.search-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    color: #555;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.search-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #2b5685;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.search-container p {
    text-align: center;
    margin-top: 1rem;
    color: #666;
}

.search-container p a {
    color: #2b5685;
    text-decoration: none;
}

.search-container p a:hover {
    text-decoration: underline;
}

.notes-list {
    list-style: none;
    padding: 0;
}

.notes-list li {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
    margin: 15px;
    
}

.notes-list li h4 {
    margin: 0;
    color: #333;
}

.notes-list li p {
    color: #666;
    margin: 0.5rem 0;
}

.notes-list li a {
    color: #2b5685;
    text-decoration: none;
    margin-right: 1rem;
}

.notes-list li a:hover {
    text-decoration: underline;
}
.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}